/*@font-face{
	font-family: 'ccsongti';
	src: url('changcheng.ttf');
}*/
.baike{
	 font-size: 1.1em;
    color: #555;
    line-height: 2em;
    text-decoration: none;
    /*font-family: 'TSSunOld';*/
}
st{
	font-size:2em;
	color: #000
}
h4{
	text-align: center;
position: relative;
top: 10px;
}
.m20{
	margin: 10px;
}
